$color-fondo: #C7BEA2;
$color-borde: #064635;
$color-titulo2: #8E0505;
$color-titulo3: #059b32;
$color-texto: #09009B;

.col-md-12{
    background-color: $color-fondo;
      
}
.borde{
    border: solid blue 3px;
    h2{
        color: $color-titulo2;
    }
    p{
        color: $color-texto2;
        font-size: 20pt;
    }
}
.col-sm-12{
    background-color: $color-fondo;    
    h2{
        color: $color-titulo2;
    }
    h3{
        color: $color-titulo3;        
    }
    p{
        color: $color-texto2;
        font-size: 20pt;
    }
          
}
