.col-md-12 {
  background-color: #C7BEA2;
}

.borde {
  border: solid blue 3px;
}
.borde h2 {
  color: #8E0505;
}
.borde p {
  color: #09009B;
  font-size: 20pt;
}

.col-sm-12 {
  background-color: #C7BEA2;
  border: solid blue 3px;
}
.col-sm-12 h2 {
  color: #8E0505;
}
.col-sm-12 p {
  color: #09009B;
  font-size: 20pt;
}/*# sourceMappingURL=estilos.css.map */